<div class="signin-content">
    <mat-card class="login-card mat-elevation-z9">
        <mat-card-title> Login</mat-card-title>
      <mat-card-content>
        <form [formGroup]="login" (ngSubmit)="onSubmit()">
        
          <mat-form-field class="full-width-input">
            <input matInput placeholder="Username" formControlName="userName" required>
            <mat-error *ngIf="f.userName.hasError('required')" >Username is required.</mat-error>
          </mat-form-field>
        
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Password" formControlName="password" required>
            <mat-error>Password is required.</mat-error>
          </mat-form-field>
          <mat-card-actions>
          <button mat-raised-button color="primary" type="submit">Login</button>
          <button mat-raised-button color="warn" type="reset">Reset</button>
        </mat-card-actions>
        </form>
      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary">New User?</button>
          <button mat-raised-button color="accent" routerLink="forgot-password">Forgot Password?</button>
      </mat-card-actions>
    </mat-card>
  </div>