.signin-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: blueviolet;
    .login-card {
        max-width: 100%;
        margin-bottom: 8px;
        padding: 40px 60px; 
        .mat-form-field {
          display: block; 
        }       
      }
}
example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }